.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: darkgrey;
}

.gameover{
  display: block;
  margin: auto;
  padding-bottom: 5px;
  background-color: lightgray;
  width: 150px;
  z-index: 9;
  position: absolute;
  left: 46%;
  top: 20%;
}

.confirm{
  color:darkslategray;
  background-color: lightblue;
  border: 1px solid blue;
  font-size: large;
  width: 180px;
  height: 30px;
  margin-top: 20px;
}

.map{
  height: 50vh;
  width: 50%;
  text-align: center;
  position: relative;
  margin: auto;
  overflow: auto;
}

.continue{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.blurred{
  filter: blur(5px);
}

